<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="x_pos" value="1" />
      <arg name="y_pos" value="1" />
      <arg name="z_pos" value="0" />
      <arg name="model_name" value="runner"/>
      <arg name="model" value="waffle"/>
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="x_pos" value="-1" />
      <arg name="y_pos" value="-1" />
      <arg name="z_pos" value="0" />
      <arg name="model_name" value="zombie1"/>
      <arg name="model" value="burger"/>
    </include>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="x_pos" value="-1" />
      <arg name="y_pos" value="1" />
      <arg name="z_pos" value="0" />
      <arg name="model_name" value="zombie2"/>
      <arg name="model" value="burger"/>
    </include>
  </group>

  <!-- BEGIN ROBOT 4-->
  <group ns="robot4">
    <param name="tf_prefix" value="robot4_tf" />
    <include file="$(find multi_robot)/launch/one_robot.launch" >
      <arg name="x_pos" value="1" />
      <arg name="y_pos" value="-1" />
      <arg name="z_pos" value="0" />
      <arg name="model_name" value="zombie3"/>
      <arg name="model" value="burger"/>
    </include>
  </group>

  <node
    pkg="multi_robot"
    type="runner3.py"
    name="runner"
    output="screen"
    args="robot1 robot2 robot3 robot4 3 -9.5 9.5 -9.5 9.5"
  >
  </node>

  <node
    pkg="multi_robot"
    type="follower.py"
    name="follower1"
    output="screen"
    args="robot2 robot1"
  >
  </node>

  <node
    pkg="multi_robot"
    type="follower.py"
    name="follower2"
    output="screen"
    args="robot3 robot1"
  >
  </node>

  <node
    pkg="multi_robot"
    type="follower.py"
    name="follower3"
    output="screen"
    args="robot4 robot1"
  >
  </node>

</launch>
